body{
    background-color:skyblue
    
}
p{
    padding: flex;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
  text-align: left;  
  border-image: auto;
 
}
h1{
    text-align: center;
   
}
